USE [Teste_Signa]
GO
/****** Object:  StoredProcedure [dbo].[SP_RetornaOwner]    Script Date: 13/08/2021 22:01:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_RetornaOwner]
	
AS
	SELECT * FROM Owner