USE [Teste_Signa]
GO
/****** Object:  StoredProcedure [dbo].[SP_RetornaCats]    Script Date: 13/08/2021 22:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_RetornaCats]
AS
	SELECT * FROM Cats